language: elixir

elixir: 1.6.0
otp_release: 20.1

sudo: false
addons:
  postgresql: 9.6

before_install:
  - . $HOME/.nvm/nvm.sh
  - nvm install stable
  - nvm use stable
  - npm install

before_script:
  - mix deps.get --only test

script:
  - mix compile --warnings-as-errors
  - mix test
