0.0.0.0:80, 0.0.0.0:443, dev.emcasa.com:80, dev.emcasa.com:443 {
    log stdout
    errors stdout

    tls /etc/emcasa/dev.emcasa.com.cert.pem /etc/emcasa/dev.emcasa.com.key.pem
    proxy / backend:4000
}

local.emcasa.com:80, local.emcasa.com:443 {
    log stdout
    errors stdout

    tls /etc/emcasa/dev.emcasa.com.cert.pem /etc/emcasa/dev.emcasa.com.key.pem
    proxy / frontend:4000
}

kibana.local.emcasa.com:80, kibana.local.emcasa.com:443 {
    log stdout
    errors stdout

    tls /etc/emcasa/dev.emcasa.com.cert.pem /etc/emcasa/dev.emcasa.com.key.pem
    proxy / kibana:5601
}
